/* filepath: /Users/christopherlapathiotis/Desktop/github/biotrofi/biotrofi_ang/src/app/banner/banner.component.scss */
.banner {
    position: relative;
    background-image: url(/assets/plating.jpg); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 800px; /* Adjust height as needed */
    display: flex;
    align-items: center;

  
    &__content {
      padding-left: 2rem; /* Add padding to move text away from the left edge */
      color: #ffffff; /* White text for contrast */
      max-width: 50%; /* Limit the width of the text block */
  
      .banner__title {
        font-size: 2.5rem; /* Adjust title size */
        font-weight: bold;
        margin: 0 0 1rem 0;
      }
  
      .banner__subtitle {
        font-size: 1.2rem; /* Adjust subtitle size */
        margin: 0;
      }
    }
  }